* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.cont-class {
  display: flex;
  justify-content: space-between;
}

.section {
  padding: 94px 0px;
}

.nav-border-bottom {
  border-bottom: 2px solid #ccc;
}

.box-h1 {
  background-color: rgba(47, 48, 58, 1);
  color: rgba(255, 255, 255, 1);
 text-align: center;

}

.nav-flex {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-flex2 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 50px;
}

.flex-main {
  display: flex;
  gap: 30px;

}

.algin-items-center {
  align-items: center;
}

.flex {
  display: flex;
}

.flex-buttons-portf {
  display: flex;
  justify-content: center;
}

.flex-images-portf {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc((100% - 20px) / 3);
  gap: 30px;
}

body {
  font-family: "Roboto", sans-serif;
}

.button-main {
  display: inline-block;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 4px;
  margin-top: 40px;
  margin-bottom: 200px;
  
}

.button-portf {
  background-color: rgba(245, 244, 250, 1);
  color: rgba(33, 33, 33, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  text-align: center;
  border-radius: 4px;
  padding: 6px 22px;
  margin-right: 8px;
  margin-bottom: 50px;
}

.buttons-portf-hov :hover {
  background-color: rgba(33, 150, 243, 1);
  cursor: pointer;
}

.buttons-portf-hov :focus {
  border-color: rgba(47, 48, 58, 1);
}

.uppercase {
  text-transform: uppercase;
}

.all-links :focus {
  color: rgb(53, 93, 77);
  cursor: pointer;
}

.description-h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0, 6em;
  text-align: center;
  padding-top: 200px;
}

.description-big-letters {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0, 3em;
}

.description-small-letters {
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0, 3em;
}

.description-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0, 3em;
  text-align: center;
}

.main-page-other-background {
  background-color: rgba(245, 244, 250, 1);
}

.description-human {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0, 3em;
  text-align: center;
}

.description-human-occupation {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0, 3em;
  text-align: center;
}

.logo {
  font-family: "Raleway", sans-serif;
}

.font-footer-logo {
  font-family: "Raleway", sans-serif;
}

.web {
  color: rgb(33, 150, 243);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0, 3em;
}

.studio {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.17;
  margin-right: 93px;
}

.studio-white {
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 26px;
  line-height: 1.17;
}

.list-style {
  list-style-type: none;
}

.nav-ul {
  display: flex;
}

.nav-ul-a {
  color: rgb(33, 33, 33);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0, 2em;
  padding: 32px;
}

.nav-ul :hover {
  color: rgb(33, 150, 243);
}

.header-mail-phone {
  color: rgb(117, 117, 117);
}

.description-bold {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0, 6em;
  color: rgba(33, 33, 33, 1);
}

.description-normal {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0, 3em;
  color: rgba(117, 117, 117, 1);
}

.figure-border {
  border: 1px solid rgba(238, 238, 238, 1);
}

.header-background-color {
  background-color: rgb(255, 255, 255);
}

.main-background-color {
  background-color: rgb(255, 255, 255);
}

.footer-background-color {
  background-color: rgb(47, 48, 58);
}

.address {
  color: rgb(255, 255, 255);
  font-style: normal;
  font-size: 1.17;
  line-height: 24px;
  letter-spacing: 0, 3em;
}

.mail-hover :hover {
  text-decoration: underline;
}

.address-grey {
  color: rgba(255, 255, 255, 0.6);
}
